
	<!--
		AVAILABLE BODY CLASSES:
		
		smoothscroll 			= create a browser smooth scroll
		enable-animation		= enable WOW animations

		bg-grey					= grey background
		grain-grey				= grey grain background
		grain-blue				= blue grain background
		grain-green				= green grain background
		grain-blue				= blue grain background
		grain-orange			= orange grain background
		grain-yellow			= yellow grain background
		
		boxed 					= boxed layout
		pattern1 ... patern11	= pattern background
		menu-vertical-hide		= hidden, open on click
		
		BACKGROUND IMAGE [together with .boxed class]
		data-background="assets/images/_smarty/boxed_background/1.jpg"
	-->
	<body class="smoothscroll enable-animation">

		<!-- wrapper -->
		<div id="wrapper">

			<!-- 
				AVAILABLE HEADER CLASSES

				Default nav height: 96px
				.header-md 		= 70px nav height
				.header-sm 		= 60px nav height

				.b-0 		= remove bottom border (only with transparent use)
				.transparent	= transparent header
				.translucent	= translucent header
				.sticky			= sticky header
				.static			= static header
				.dark			= dark header
				.bottom			= header on bottom
				
				shadow-before-1 = shadow 1 header top
				shadow-after-1 	= shadow 1 header bottom
				shadow-before-2 = shadow 2 header top
				shadow-after-2 	= shadow 2 header bottom
				shadow-before-3 = shadow 3 header top
				shadow-after-3 	= shadow 3 header bottom

				.clearfix		= required for mobile menu, do not remove!

				Example Usage:  class="clearfix sticky header-sm transparent b-0"
			-->
			<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Logo -->
						<a class="logo float-left" href="index">
							<%= image_tag("R2.png", :alt => "Rocket Elevator logo") %>
							
						</a>

						<!-- 
							Top Nav 
							
							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
						<div class="navbar-collapse collapse float-right nav-main-collapse">
							<nav class="nav-main">

								<!-- 
									.nav-onepage
									Required for onepage navigation links
									
									Add .external for an external link!
								-->
								<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
									<li ><!-- HOME -->
										<a href="index">
											HOME
										</a>
									</li>
									<li class="active"><!-- SERVICES -->
										<a href="index#services" class="dropdown-toggle">
											SERVICES
										</a>
										<ul class="dropdown-menu sub-menu">
											<li class="active"><a href="residential">Residential</a></li>
											<li><a href="corporate">Corporate</a></li>
											<li><a href="quote">Get a Quote</a></li>
										  </ul>
									</li>
									<li><!-- WORK -->
										<a href="index#portfolio">
											PORTFOLIO
										</a>
									</li>
									<li><!-- NEWS -->
										<a href="index#news">
											NEWS
										</a>
									</li>
									<li><!-- CLIENTS -->
										<a href="index#clients">
											CLIENTS
										</a>
									</li>
									<li><!-- CONTACT -->
										<a href="index#contact">
											CONTACT
										</a>
									</li>
									<li><!-- CONTACT -->
										<a href="http://news.relevator.ca/">
											BLOG
										</a>
									</li>
																		<li>
										<% if current_user.try(:admin?) || !Employee.find_by(user_id:current_user.try(:id)).nil? %>
											<%= link_to 'Intervention', '/intervention' %>
										<% end %>
									</li>
									<li>
									<% if current_user.try(:admin?) || !Customer.find_by(user_id:current_user.try(:id)).nil?|| !Employee.find_by(user_id:current_user.try(:id)).nil? %>
										<%= link_to 'Dashboard', rails_admin.dashboard_path %>
									<% end %>
									</li>
									<li>
									<% if current_user %>
										<%= link_to "Sign out", destroy_user_session_path, :method => :get %>
									<% else %>
										<%= link_to 'Login', new_user_session_path %>
									<% end %>
									</li>
								</ul>

							</nav>
						</div>

					</div>
				</header>
				<!-- /Top Nav -->

			</div>

			<section class="header-image back-black" id="residential">
				<div class="text-center">
					<h1>Be the Exception</h1>
					<p>We love to create the most unique design and give your building a stunning disction </br> Get in touch with us to start creating your own design</p>
					<a href="contact" class="btn blue">Contact Us</a>
				</div>
			</section>
			<div class="back-black">
			</div>

			<section class="back-black">
				<div class="container">
				<div class="text-center">
					<h1>Our catalog</h1>
				</div>
				<div class="row justify-content-center">
					<div class="col-3 service-show" id="standard-residential">
						<div class="back-blue text-center">
							<h2>Standard</h2>
						</div>
						<div class="back-red text-center">
							<h2>Quantity</h2>
							<h2>Available: 231</h2>
						</div>
					</div>
					<div class="col-3 service-show" id="premium-residential">
						<div class="back-blue text-center">
							<h2>Premium</h2>
						</div>
						<div class="back-red text-center">
							<h2>Quantity</h2>
							<h2>Available: 33</h2>
						</div>
					</div>
					<div class="col-3 service-show" id="excelium-residential">
						<div class="back-blue text-center">
							<h2>Excelium</h2>
						</div>
						<div class="back-red text-center">
							<h2>Quantity</h2>
							<h2>Available: 1</h2>
						</div>
					</div>
				</div>
				<div class="text-center">
					<h1>For Prices, please check our <a href="quote">quotes</a> page</h1>
				</div>
				</div>
			</section>
			
			<section class="back-black">
			<div class="container step">
        <%= image_tag("elevator.png", :alt => "elevator", id: "melevator") %>
		<div id="vertical"></div>
        <div class="row margin scrollspy" id="s1">
            <div class="col-sm text-right m-right">
                <h3>STEP 1</h3>
                <h2>THE FIRST VISIT</h2>
                <p>We first pay you a visit to discuss your needs and validte your project.</p>
            </div>
            <div class="horizontal"></div>
            <div class="col-sm">
                
            </div>
        </div>
        <div class="row margin scrollspy" id="s2">
            <div class="col-sm">

            </div>
            <div class="horizontal"></div>
            <div class="col-sm text-left m-left">
                <h3>STEP 2</h3>
                <h2>THE DESIGN</h2>
                <p>Our team take work with the informations taken in step 1 and produce a first preview of the design.</p>
            </div>
        </div>
        <div class="row margin scrollspy" id="s3">
            <div class="col-sm text-right m-right">
                <h3>STEP 3</h3>
                <h2>THE APPROVAL</h2>
                <p>We check with you that our design fits you vision, and make every adjustments need to reach the perfect fit.</p>
            </div>
            <div class="horizontal"></div>
            <div class="col-sm ">
                
            </div>
        </div>
        <div class="row margin scrollspy" id="s4">
            <div class="col-sm">

            </div>
            <div class="horizontal"></div>
            <div class="col-sm text-left m-left">
                <h3>STEP 4</h3>
                <h2>MANUFACTURING</h2>
                <p>This is where we shine! We make a commitment to build only the best elevators there is for each and every project.</p>
            </div>
        </div>
        <div class="row margin scrollspy" id="s5">
            <div class="col-sm text-right m-right">
                <h3>STEP 5</h3>
                <h2>THE INSPECTION</h2>
                <p>Our team of experts check every elevator manufactured by doing a thorough 40-points inspection.</p>
            </div>
            <div class="horizontal"></div>
            <div class="col-sm">
                
            </div>
        </div>
        <div class="row margin scrollspy" id="s6">
            <div class="col-sm">

            </div>
            <div class="horizontal"></div>
            <div class="col-sm text-left m-left">
                <h3>STEP 6</h3>
                <h2>INSTALLATION</h2>
                <p>It`s now time for us to bring your dream elevator to your home. Every precaution is taken to ensure a smooth and stress less procedure</p>
            </div>
        </div>
        <div class="row margin scrollspy" id="s7">
            <div class="col-sm text-right m-right">
                <h3>STEP 7</h3>
                <h2>AFTER-SALES SERVICE</h2>
                <p>Along with a final inspection, this is the part wherre we give you every information needed to reach us in case you need anything regarding you new elevator. Our support team is available for you 24/7</p>
            </div>
            <div class="horizontal"></div>
            <div class="col-sm">
            </div>
        </div>
    </div>
			</section>
		<!-- FOOTER -->
		<footer id="footer">
			<div class="container">


				<div class="row">

					<!-- col #1 -->
					<div class="col-md-8">

						<h3 class="letter-spacing-1">WHY US?</h3>

						<!-- Small Description -->
						<p>
							Rocket Elevator is a Company in the elevator industry. We work to improve all elevators with our repair and engineer team. We have our own manufacturing plant to create quick elevator.
							</p>
						<h2>(581) 701-0303</h2>
						<a href="/donate">DONATE TO ROCKET ELEVATORS</a>
					</div>
					<!-- /col #1 -->

					<!-- col #2 -->
					<div class="col-md-4">
						<h3 class="letter-spacing-1">KEEP IN TOUCH</h3>

						<!-- Newsletter Form -->
						<p>Subscribe to Our Newsletter to get Important News & Offers</p>

						<form class="validate" action="php/newsletter.php" method="post"
							data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
								<input type="email" id="email" name="email" class="form-control required"
									placeholder="Enter your Email">
								<span class="input-group-btn">
									<button class="btn blue" type="submit">Subscribe</button>
								</span>
							</div>
						</form>
						<!-- /Newsletter Form -->


					</div>
					<!-- /col #2 -->

				</div>


			</div>
			<div class="copyright">
				<div class="container">
					&copy; All Rights Reserved, Rocket Elevator
				</div>
			</div>
		</footer>
		<!-- /FOOTER -->


		</div>
		<!-- /wrapper -->




		<!-- JAVASCRIPT FILES -->
		<script>var plugin_path = 'assets/plugins/';</script>
		<%= javascript_include_tag 'contact', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'smoothscroll', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'scripts', media: 'all', 'data-turbolinks-track': 'reload' %>